*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x:hidden ;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle !important;
    width: 100%;
    position: fixed;
    text-shadow: 1px 1px 1px 1px black;
    z-index: 999;
}
.logo{
    display: flex;
    align-items: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    color: white;
    margin: 12px;
    padding-left: 21px;
    text-shadow: 2px 2px 4px #000000;
}
.link{
    display: flex;
    align-items: center;
    transition: 1s;
}
.link ul{
    display: flex;
    padding-right:30px;
}
.link ul li{
    list-style: none;
    margin: 12px;
}
.link ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-shadow: 2px 2px 4px #000000;
}
.hamburger{
    display: flex;
    flex-direction: column;
    display: none;
    vertical-align: middle;
    padding-top: 14px;
    padding-right: 21px;
    cursor: pointer;
}
.hamburger span{
    width: 45px;
    height: 6px;
    background-color: white;
    border-radius: 110px;
    transform: 500ms;
}
.hamburger span:nth-child(1) , .hamburger span:nth-child(2){
    margin-bottom: 10px;
}
#home{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('img/develoepr-bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.judul h1{
    font-family: sans-serif;
    font-size: 80px;
    color: white;
}
.judul span h6{
    font-family: sans-serif;
    text-align: center;
    color: white;
}
.judul h1 span{
    display: none;
}
.judul h1 span.muncul{
    display: inline!important;
    transition: 0.5s;
}
.atas{
    display: flex;
}
@keyframes ketik{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.ketik{
    width: 10px;
    background-color: white;
    animation-name: ketik;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transform: translateX(12px);
}

#aboutMe{
    background-color: #0f0e0e;
    color: white;
    display: flex;
    justify-content: center;
}
#aboutMe .face img{
    width: 250px;
    border-radius: 50%;
}
#aboutMe .isi{
    display: flex;
    padding: 50px;
    flex-direction: row;
}
#aboutMe .isi>*{
    padding: 10px;
}
#aboutMe .konten{
    font-family: sans-serif;
    margin-left: 30px;
}

#aboutMe .konten p{
    margin-top: 30px;
    max-width: 700px;
}



/* responsive */

@media(max-width:768px){
    .judul h1{
        font-size: 50px;
    }
    .active{
        transform: translateX(0) !important;
    }
    .link{
        width: 55%;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .filter{
        backdrop-filter: blur(50px);
    }
}

@media(max-width:603px){
        .active{
            transform: translateX(0);
        }
        nav{
            z-index: 1;
        }
        .hamburger{
            display: flex;
            transition: 1s;
        }
        .hamburger span{
            transition: 1s;
        }
        .hamburger.aktif{
            transform-origin: center;
            transform: rotate(360deg);
        }
        .hamburger.aktif span:nth-child(1){
            transform: rotate(45deg) translateY(20px);
        }
        .hamburger.aktif span:nth-child(2){
            display: none;
        }
        .hamburger.aktif span:nth-child(3){
            transform: rotate(-45deg) translateY(-11px) translateX(-8px);
        }
        .link{
            display: flex;
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            height: 100vh;
            width: 75%;
            backdrop-filter: blur(50px);
            align-items: center !important;
            justify-content: center !important;
            transform: translateX(100%);
        }
        .link ul{
            position: absolute;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left:20px ;
        }
        .link ul li{
            text-align: center;
            margin-bottom: 40px;
        }
        .link ul li a{
            font-size: 41px;
        }
        .logo{
            padding-left: 10px;
        }
        #home{
            background-position-x:-3px;
        }
        #aboutMe .isi{
            flex-direction: column;
        }
        #aboutMe .konten{
            margin-top: 12px;
        }
        #aboutMe .konten p{
            margin-top: 10px;
        }
        #aboutMe .isi .face{
            display: flex;
            justify-content: center;
        }
    }
@media(max-width:360px){
    .link ul li a{
        font-size: 25px;
    }
}